*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {

}

#galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#galeria img {
    flex: 1;
    height: 250px;
    border-radius: 4px;
}